<?xml version="1.0" encoding="utf-8"?>
<!-- Configuration to run the Flask model server in IIS -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
        path="*"
        verb="*"
        modules="FastCgiModule"
        scriptProcessor="D:\kbases\subversion\marketBasket\marketBasket\venv\Scripts\python.exe|D:\kbases\subversion\marketBasket\marketBasket\venv\Lib\site-packages\wfastcgi.py"
        resourceType="Unspecified"
        requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="flask_server.app" />
    <add key="PYTHONPATH" value="D:\kbases\subversion\marketBasket\marketBasket" />
    <add key="WSGI_LOG" value="D:\kbases\subversion\marketBasket\marketBasket\logs\wfastcgi.log"/>
  </appSettings>
</configuration>
